<?xml version="1.0"?>
<ruleset name="WordPress">
	<description>WordPress Coding Standards</description>

	<file>./</file>
	<exclude-pattern>vendor/</exclude-pattern>

	<arg name="extensions" value="php"/>

	<arg name="parallel" value="16"/>

	<config name="testVersion" value="7.0"/>
	<rule ref="PHPCompatibilityWP"/>

	<rule ref="WordPress-Core">
		<exclude name="Generic.Arrays.DisallowShortArraySyntax.Found" />
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
		<exclude name="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedVariableFound" />
		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
		<exclude name="WordPress.PHP.DisallowShortTernary.Found" />
	</rule>
	<rule ref="WordPress-Docs"/>
	<rule ref="WordPress-Extra"/>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array" value="srof"/>
		</properties>
	</rule>
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="screen-reader-only-format"/>
		</properties>
	</rule>
	<rule ref="WordPress.WhiteSpace.ControlStructureSpacing">
		<properties>
			<property name="blank_line_check" value="true"/>
		</properties>
	</rule>
</ruleset>
