.block-editor-page .is-selected {
	.text-format-sr-only {
		box-shadow: 0 0 0 2px #990000;
		position: relative;
	}

	.text-format-sr-only:after {
		content: '*';

		background: #990000;
		color: #fff;
		font-family: 'Verdana', sans-serif;
		font-size: 11px;
		line-height: 1.2;
		padding-left: 3px;
		padding-right: 3px;
		pointer-events: none;
		text-decoration: none;
		text-indent: 0;
		white-space: nowrap;

		position: absolute;
		top: auto;
		left: -2px;
		right: auto;
		bottom: 100%;
		z-index: 1;
	}

	.text-format-sr-only:hover:after,
	.text-format-sr-only:focus:after {
		content: '* Screen Reader Text';
	}
}

.text-format-sr-only:not(.is-selected .text-format-sr-only) {
	// Local variables.
	$size: 1px;
	$size-negative: -1 * $size;

	// ==============
	// State: Hidden.
	// ==============

	&[class] {
		pointer-events: none;
		user-select: none;

		outline: 0;

		overflow: hidden;
		text-decoration: none;
		white-space: nowrap;

		position: absolute;
		top: 0;
		left: 0;

		/*
	Force the dimensions to be 1x1
	pixel, and also remove visible
	spacing with negative margin.
*/
		clip-path: inset(50%);
		clip: rect($size, $size, $size, $size);
		margin-top: $size-negative;
		margin-left: $size-negative;
		width: $size;
		height: $size;
	}
}
